.button {
    border-radius: 13px;
    font-size: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    background-color: #17252A;
    font-family: "Lucida Sans Unicode";
    font-weight: bold;
}

.remove-button {
    width: 45px;
    height: 45px;
    margin-left: 60px;
}

.btn {
    margin-top: 10px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 30%;
    background-color: #17252A;
    font-family: "Lucida Sans Unicode";
    font-weight: bold;
}